.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    
  }
  .content-text{
    position: absolute;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }